version = "1.0"

[main]
name = "myTinyTodo configuration"

    [main.config]
    name = "Configuration Options"

        [main.config.title]
        ask = "Set title"
        type = "string"
        help = "Specify a title for your todolist."
        bind = "title:__INSTALL_DIR__/config.php"

        [main.config.set_password]
        ask = "Set password"
        type = "password"
        help = "Specify password here to protect your tasks from modification, or leave empty that everyone could read/write todolist."
        bind = "password:__INSTALL_DIR__/config.php"
